/*

Tooplate 2128 Tween Agency

https://www.tooplate.com/view/2128-tween-agency

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif}

:root {
  --white-color:                  #FFFFFF;
  --primary-color:                #d3c017;
  --section-bg-color:             #f5f5f5;
  --border-color:                 #dee2e6;
  --dark-color:                   #000000;
  --grey-color:                   #fcfeff;
  --title-color:                  #565758;
  --p-color:                      #717275;
  --footer-bg-color:              #07262e;

  --body-font-family:             'Karla', sans-serif;

  --h1-font-size:                 68px;
  --h2-font-size:                 42px;
  --h3-font-size:                 36px;
  --h4-font-size:                 32px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --menu-font-size:               18px;
  --copyright-text-font-size:     16px;
  --custom-link-font-size:        14px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             600;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family); 
}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: normal;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

::selection {
  background: var(--primary-color);
  color: var(--white-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--white-color);
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

.paddingText {
  padding: 50px;
}


.navbar-brand i { margin-right: 12px; }

.backstretch { max-width: 99.99%; }

/*---------------------------------------
  CUSTOM ICON               
-----------------------------------------*/
.play-icon-wrap {
  background: var(--white-color);
  border-radius: .3rem;
  position: relative;
  z-index: 2;
  padding: 10px 12px;
  max-width: 152.31px;
}

.play-icon {
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 100px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

.play-icon::before {
  display: block;
  padding-top: 5px;
  padding-left: 5px;
}

/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
  font-weight: var(--font-weight-bold);
  padding: 12px 24px;
}

.custom-bg-dark {
  background: var(--primary-color);
}

.custom-bg-dark:hover {
  background: var(--dark-color);
}

.custom-btn:hover {
  background: var(--dark-color);
  color: var(--white-color);
}



/*---------------------------------------
  HERO              
-----------------------------------------*/

.heroText {
  position: relative;
  z-index: 2;
}
.heroText2{
 
  color:var(--primary-color) ;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 10px; 
  padding-left: 10px;
}
.sub-text{
  margin-left: 50px;
  border-left: 2px solid var(--primary-color);
}

@media screen and (min-width: 991px) {
  .hero {
    height: 75vh;
	min-height: 600px;
  }
}

.overlay {
  background: rgba(128,142,176, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.overlay.dark-overlay {
  background: rgba(0,0,0, 0.75);
}

.nav-tabs .nav-link {
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid transparent;
  color: var(--border-color);
  font-weight: var(--font-weight-bold);
  
  position: relative;
  top: 1px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
  background: transparent;
  border-color: transparent;
  border-bottom-color: var(--primary-color);
  color: var(--dark-color);
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background 0.3s ease-out;
}

.sticky-nav {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.sticky-nav .navbar-brand {
  color: var(--dark-color);
}

.sticky-nav .navbar-nav .nav-link {
  color: var(--p-color);
}

.navbar-brand {
  font-size: 40px;
  color: var(--white-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-nav .nav-link {
  color: var(--dark-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;

  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--p-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--p-color);
  width: 30px;
  height: 0px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu {
  width: 648px; /* Adjust width as needed */
}

/* Optionally increase padding */
.dropdown-item {
  padding:0px; /* Adjust padding as needed */
  background-color: white !important;
}



/*---------------------------------------
  SERVICES               
-----------------------------------------*/
.services {
  background: var(--section-bg-color);
}

.services-image {
  display: block;
  margin: auto;
  width: 250px;
 
}

.services-info {
  background: var(--white-color);
  position: relative;
  text-align: center;
}

/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background: var(--footer-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.site-footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.tooplate-link a {
	color: var(--white-color);
}

.footer-menu {
  padding: 0;
}

.footer-menu-item {
  display: block;
  list-style: none;
}

.footer-menu-link,
.footer-link {
  display: inline-block;
  color: rgba(255,255,255,0.8);
  font-size: var(--copyright-text-font-size);
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-menu-link:hover,
.footer-link:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.site-footer .social-icon-link,
.site-footer .copyright-text {
  color: var(--white-color);
  font-size: var(--copyright-text-font-size);
}

.site-footer .social-icon {
  text-align: right;
}

.site-footer .copyright-text {
  font-size: var(--copyright-text-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  body {
    padding-top: 80px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
	
  .section-padding {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .custom-btn {
    font-size: var(--copyright-text-font-size);
    padding: 8px 16px;
  }

  .navbar {
    background: var(--white-color);
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
  }

  .navbar-brand {
    color: var(--dark-color);
  }

  .navbar-nav .nav-link {
    color: var(--p-color);
    padding-top: 15px;
    padding-bottom: 5px;
  }

  

  .site-footer-bottom,
  .site-footer .social-icon {
    text-align: center;
  }
  .hero {
    padding-top: 100px;
   
   
  }
  
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  .paddingText {
    padding: 25px;
  }

  .pricing-plan {
    padding: 60px 30px 20px 30px;
  }

  .pricing-header {
    padding-bottom: 20px;
  }

  .pricing-body {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
  }
  
}



/*-- about--*/

.logo{
  width:20%;
}
.about-card{
  background-color: rgb(233, 233, 233);
  border: none;
  margin-left: 2px;
}

.s-img{
  margin-top:50px;
  padding: 0px 20px;
  border-radius: 12%;
}
/*--Key Offerings--*/


.card-img-top {
width:70%;
padding: 10px;
margin-left: 80px;
border-radius: 20px;
}
.card-img-top1 {
  width:70%;
  padding: 10px;  margin-left: 80px;
  border-radius: 20px;
  }
  


.card-key li {
  list-style: none;
}
.card-key{
  border: 2px solid #3a8fe4;
  border-radius: 10px;
  margin-top: 10px;

}
.sec-1{
  border-right: 2px solid #3a8fe4;
  margin: 10px 0px;
}
@media screen and (max-width: 580px) {
  .sec-1{
    border-right: 0px solid #3a8fe4;
    margin: 0px 0px;
  }
  .card-img-top {
    width:70%;
    padding: 10px;
    margin-left: 50px;
    border-radius: 20px;
    }
    .card-img-top1 {
      width:70%;
      padding: 10px;
        margin-left: 50px;
      border-radius: 20px;
      }
}

/*--industry--*/

.impact-card{
  margin:20px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #07262e;
  
}
.adjust{
  padding-top: 30px;
}
.i-impact{
  background-color: #f3f3ef;
}
.card-flip {
  border: 2px solid #3a8fe4;
  border-radius: 10px;
  background-color: #f8f9fa;
  padding: 20px;
  margin: 20px;
  
}
@media screen and (max-width: 580px) {
  .impact-card{
    margin:10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #07262e;
    
  }
}


/*--Achievement--*/
.center-content {
  display: flex;
  justify-content: center;
  
 
  width: 100%;
}





.center-content ul li {
  margin: 10px 0; /* Optional: Add margin between list items */
}

.center-content ul li p {
  margin: 0; /* Remove default paragraph margin */
}

.keycard{
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid #d3c017 ;
 
}
.dec {

 border-left: 2px solid #d3c017;

}
.dec li{
  list-style: none;
}
.dec1 li{
  list-style: none;
}

.card-dec{
  border: 2px solid #d3c017;
  border-radius: 10px;
}


  




.card1{
  margin:20px;
  padding: 20px;

}
.card2{
  margin:20px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #d3c017;
  
}
.padding{
  padding-top: 40px;
}
.padding1{
  padding-top: 60px;
}
.topic{
  padding-left: 450px;
}

.mission-card{

  margin-top: 20px;
  border: 1px solid #F2F2F2 !important;
  box-shadow:  0px 1px 5px 1px  #6e705c !important;
}
.position-card{
  margin: 30px 20px;
  padding: 30px;
  border: 2px solid rgb(91, 209, 224);
  border-radius: 10px;
}

.position-col{
  border-left: 2px solid rgb(91, 209, 224) ;
}
.sum-card{
  padding: 20px;
  margin-top: 20px;
  border: 0;
  border-radius: 0;
  color: #fff;
  box-shadow: 5px 5px 10px #e1e1e1;
  padding: 3em 0;
  border-bottom-right-radius: 4em;
  border-top-left-radius: 4em;
  background: linear-gradient(to left, rgb(182, 235, 235) 50%, #e9addfd2 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 0.5s ease-out;

 
}
.sum-card li{
  list-style: none;
}
.sum-cards li{
  list-style: none;
}
.card:hover {
  background-position: left;
}
.card-achieve li{
 list-style: none;
}
.image-ino{ 
  padding:30px 50px 30px 0px ;}
  .image-ino1{ 
    padding:30px 30px  ;}

@media screen and (max-width: 580px) {
  .cards{
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgb(91, 209, 224) ;
    margin-top: 20px;

  
  }
  .image-ino1{ 
    padding:0px 50px 30px 0px ;}
    .image-ino{ 
      padding:0px 50px 30px 0px ;}

  .logo{
    width:10%;
  }
  .position-col{
    border-left: 0px solid rgb(91, 209, 224) ;
  }
 
  .topic{
    padding-left: 20px;
  }
  .card2{
    margin:10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #d3c017;
    
  }
  .dec {
  
    border-left: 0px solid #d3c017;
   }
  
  .sum-card{
    padding: 20px;
    margin-top: 20px;
    border: 0;
    border-radius: 0;
    color: #fff;
    box-shadow: 5px 5px 10px #e1e1e1;
    padding: 3em 0;
    border-bottom-right-radius: 4em;
    border-top-left-radius: 4em;
    background: linear-gradient(to left, rgb(182, 235, 235) 50%, #e9addfd2 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s ease-out;
  
   
  }
  .padding{
    padding-top: 10px;
  }
  .padding1{
    padding-top: 10px;
  }
  .mission-card{
 
    margin-top: 20px;
    border: 1px solid #F2F2F2 !important;
    box-shadow:  0px 1px 5px 1px  #6e705c !important;
  }
  .vision-card{
    padding: 20px;
    margin-top:30px ;
    border-radius: 10px;
    border:2px solid #d3c017;
   
   
  }
}

.mission-img{
 padding-left: 0px;
 width: 80%;
}

.vision-card{
  padding: 20px;
  margin-top:30px ;
  margin-left: 20px;
  border-radius: 10px;
  border:2px solid #d3c017;
  
 
}
.vision-card li{
  list-style: none;
}
/*--why choose--*/

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f8f9fa;
  color: #000;
}

.flip-card-back {
  background-color: #343a40;
  color: #000;
  transform: rotateY(180deg);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.why-card{
  border-radius: 10px;
  border:2px solid blue;
  height: 700px;

}
.image-why{
border-radius: 30px;
padding: 20px;
margin-top: 40px;
}
.card-flip1{
margin-top: 200px;
border: 2px solid #3a8fe4;
border-radius: 10px;
background-color: #f8f9fa;
padding: 20px;

}


@media screen and (max-width: 580px) {
  .image-why{
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    width:100%;
    }
    .why-card{
      border-radius: 10px;
      border:2px solid blue;
      height: 1000px;
    
    }
    .card-flip {
      border: 2px solid #3a8fe4;
      border-radius: 10px;
      background-color: #f8f9fa;
      padding: 0px;
      margin: 0px;
      
    }}